header, nav, main, footer { display: block; }
body { background-color: #5B6978;
       font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 1460px;
           margin: auto;
		   background-color: #DBEEFF;
		   color: #2D618C;
		   box-shadow: 5px 5px 5px #000000;
}
h1 { background-image: url(images/header.png);
     background-repeat: no-repeat;
     background-color: #94BFFF;
	 height: 110px;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 4.5em;
     padding-left: 20px;
	 padding-top: 20px;
	 text-shadow: 3px 3px 3px #15314D;
	 margin-bottom: 0;
}
nav { padding-top: 10px;
      float: left;
      width: 200px; 
}
nav ul { list-style-type: none; 
       padding-left: 20px;
	 }
nav li { padding-bottom: 5px;
       font-weight: bold;
}
nav a { text-decoration: none; }
nav a:link { color: #15314D; }
nav a:visited{ color: #7A42A6; }
nav a:hover { color: #4169B5; }


main { background-color: #C9E7FF;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}
main img { float: right;
              padding: 20px;
}

footer { background-color: #91AFC2;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}
	  